.Leaderboard {
    
    align-self: center;
    max-width: 100%;
    overflow: hidden;
    background-color: #dbe1e5;
    
    overflow-y: visible;
    
    height: 100%;
    width: 100%;
    margin-left: 5%;
    
}

