.DummyUser {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    border: solid black 1px;
}

.DummyTitle {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.DummyKpi {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.btn-sales-add {
    height: 10vh;
    width: 25vw;
    align-self: center;
}

.btn-dials-add {
    height: 10vh;
    width: 25vw;
    align-self: center;
}