.AgentvAgent{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;


}

.navBar {
    height: 5.92vh;
    width: 100vw;
}

.AVA-title {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 5%;
    width: 100%;
    margin-bottom: 15px

}

.AVA-leaderboard-data {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;

}

.AVA-FirstPlaceAgent-Placement {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}