.AgentvAgent{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid green;
    overflow-x: hidden; 
}

.navBar {
    height: 5.92vh;
    width: 100vw;
}

.AVA-title {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 10%;
    width: 100%;
    border: 1px solid black;
}

.AVA-leaderboard-data {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 90%;
    width: 100%;
    border: 1px solid black;
}

.AVA-FirstPlaceAgent-Placement {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}