.Dashboard {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    height: 100vh;
    width: auto;
}

.carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.crm-btn{
    height: 35px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: light-gray;
    border-radius: 5px;
    border: none;
  }

.modals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}