.TeamvTeam{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100%;
	width: 100%;
}

.TVT-title {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 10%;
	width:100%;
	border: 1px solid black;
}

.TVT-leaderboard-data {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 90%;
	width: 100%;
	border: 1px solid black;
}

.TVT-FirstPlaceTeam-Placement {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 55%;
	width:100%;
	border: 1px solid red;
}

.TVT-SecondPlaceTeam-Placement {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 45%;
	width:100%;
	border: 1px solid red;
}