.SecondThirdUnranked {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid red;
	width: 100%;
	height: 100%;
}

.SecondThirdAgents {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100%;
	width: 50%;
}

.SecondPlaceAgent {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid orange;
	height: 100%;
	width: 50%;
}

.ThirdPlaceAgent {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid orange;
	height: 100%;
	width: 50%;
}

.UnrankedAgents {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid orange;
	height: 100%;
	width: 50%;
}

.AVA-unranked-data {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.AVA-unranked-ranking {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.AVA-Unranked-lineItem {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.AVA-unranked-agent-info {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.prof-pic {
	height: 50px;
	width: 50px;
}