.FirstPlaceTeam{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100%;
	width: 100%;
}

.Team-name {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 10%;
	border: 1px solid green;
}

.Team-data {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 90%;
	border: 1px solid orange;
}

.FirstPlaceLeftColumn {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 50%;
	height: 100%;
	border: 1px solid blue;
}

.FirstPlaceRightColumn {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 50%;
	height: 100%;
	border: 1px solid blue;
}

.team1-user-first {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 50%;
	height: 100%;
	border: 1px solid green;
}

.team1-users-twoandthree {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 50%;
	height: 100%;
	border: 1px solid green;
}

.team1-second {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 45%;
	border: 1px solid pink;
}

.team1-second-userdata {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.team1-second-userInfo {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.team1-thirdBox {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 55%;
	border: 1px solid gray;
}

.team1-third {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 90%;
	border: 1px solid pink;
}

.team1-third-userdata {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.team1-third-userInfo {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}





